
@{
    ViewBag.Title = "Proveedor";
}

<h2>Proveedor</h2>
@using EFAdventure
@model List<Person>

<style>
    .uno
    {
        position: relative;
        float: left;
        padding: 50px;
    }
    .dos
    {
        position: relative;
        float: left;
        padding: 50px;
    }
</style>
<h2>Proveedores</h2>
<div class="uno">

    <ul id="proveedores">
        @foreach (Person proveedor in Model)
        {
            <li id="@proveedor.BusinessEntityID">@proveedor.FirstName @proveedor.MiddleName @proveedor.LastName</li>
        }
</ul>
    <button id="modificaProveedor" type="button" name="Modificar">Modificar</button>
    <button id="nuevoProveedor" type="button" name="Crear">Crear</button>
</div>

<div class="dos">
    <ul id="productos">

    </ul>
    <input id="modificarProducto" type="button" value="Modificar">
    <input id="nuevoProducto" type="button" value="Nuevo">
 </div>

@section Scripts {
    @Scripts.Render("~/Scripts/productos.js")
}


